.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  border: 30px solid #ccc;
  margin: 290px;
}
.App-header {
  padding: 20px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: #000000;
  box-shadow: 0 2px 3px rgb(1 20 57 / 78%);
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #007BFF;
}


button {
  margin-top: 10px; /* Add some margin for spacing */
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.App-main {
  width: 500px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.App-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
}
button, input, optgroup, select, textarea {
  margin-bottom: 10px;

}
.issue-certificate-button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

}

.view-certificate-button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

}

.App-main input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
